@tailwind components;

@layer components {
	.page-container {
		@apply absolute;
		top: 94px;
		bottom: 26px;
		right: 26px;
		left: 26px;
		transition: all 0.22s ease;
	}
	.short-page-container,
	.long-page-container {
		@apply page-container;
	}
}
