@tailwind components;

@layer components {
	.page-container {
		@apply absolute;
		top: 94px;
		bottom: 26px;
		right: 26px;
		transition-property: left;
		transition-duration: 0.22s;
		transition-timing-function: ease;
	}
	.short-page-container {
		@apply page-container;
		left: 286px;
	}
	.long-page-container {
		@apply page-container;
		left: 90px;
	}
}
